<div class="form-group">
	<label class="control-label" for="conceptOrPhenotype">Concept or phenotype</label>
	<tree-single-drop-zone name="conceptOrPhenotype"
						   key="vm.conceptOrPhenotypeKey"
						   item="vm.conceptOrPhenotype" 
						   display-error="vm.onConceptOrPhenotypeErr(message)" 
						   delete-modal-template-url="conceptOrPhenotypeDeleteModal.html"></tree-single-drop-zone>
</div>
<div class="form-group">
	<label for="minDuration">Duration</label>
	<div class="input-group">
		<input name="minDuration" type="number" class="form-control" placeholder="min" ng-model="vm.minDuration">
		<div class="input-group-addon">
			<select name="minDurationUnits" ng-model="vm.minDurationUnits" ng-options="o.id as o.description for o in vm.minDurationUnitOptions">
			</select>
		</div>
	</div>
</div>
<div class="form-group">
	<label class="sr-only" for="maxDuration">To</label>
	<div class="input-group">
		<input name="maxDuration" type="number" class="form-control" placeholder="max" ng-model="vm.maxDuration">
		<div class="input-group-addon">
			<select name="maxDurationUnits" ng-model="vm.maxDurationUnits" ng-options="o.id as o.description for o in vm.maxDurationUnitOptions">
			</select>
		</div>
	</div>
</div>
<div class="form-group">
	<label for="propertyName">Property value</label>
	<div class="input-group">
		<div class="input-group-addon">
			<select name="propertyName" ng-model="vm.propertyName" ng-options="o.name as o.name for o in vm.conceptOrPhenotypeProperties">
			</select>
		</div>
		<input name="propertyValue" type="text" class="form-control" ng-model="vm.propertyValue"ng-disabled="!vm.propertyName">
	</div>
</div>
<script type="text/ng-template" id="conceptOrPhenotypeDeleteModal.html">
	<div class="modal-header">
	<h3 class="modal-title">Remove Concept</h3>
	</div>
	<div class="modal-body">
	<p><strong>Are you sure you want to remove "{{mo.displayName}}"?</strong></p>
	<p>This operation cannot be undone.</p>
	</div>
	<div class="modal-footer">
	<button type="submit" class="btn" ng-click="mo.cancel()">Cancel</button>
	<button type="button" class="btn btn-primary" ng-click="mo.ok()">Remove</button>
	</div>
</script>