target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
eureka-webapp/src/main/webapp/node
eureka-webapp/src/main/webapp/node_modules
eureka-webapp/src/main/webapp/build
eureka-webapp/src/main/webapp/bower_components
eureka-webapp/src/main/webapp/npm-debug.log
eureka-webapp/src/main/webapp/dist