<div class="tree-drop">
	<ul class="sortable">
		<li ng-if="vm.items" ng-repeat="item in vm.items">{{item.displayName}}<a title="remove" ng-click="vm.remove(item) "><span class="glyphicon glyphicon-remove" title="" style="color:red;"></span></a>
		<li ng-if="!vm.items && vm.keys" ng-repeat="key in vm.keys">{{key}} <i class="fa fa-refresh fa-spin"></i>
	</ul>
	<a ng-if="vm.items || !vm.keys || vm.keys.length === 0" class="label-info text-center" href="" ng-click="vm.add()" style="display: block">
		Add...
	</a>
</div>
<script type="text/ng-template" id="addItemsModal.html">
	<div class="modal-header">
		<h3 class="modal-title">Add Concepts and Phenotypes</h3>
	</div>
	<div class="modal-body">
		<tree-component multiple-select="true" selected-items="mo.itemsToAdd"></tree-component>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn" ng-click="mo.cancel()">Cancel</button>
		<button class="btn btn-primary" ng-click="mo.ok()">Add and close</button>
	</div>
</script>
