<h1 ng-if="editFrequencyPhenotype.nowEditing === undefined">New Frequency</h1>
<h1 ng-if="editFrequencyPhenotype.nowEditing !== undefined">Edit Frequency</h1>
<p class="lead">Computes an interval over the temporal extent of the intervals contributing to the specified frequency count below.</p>
<div class="alert alert-danger" role="alert" ng-if="editFrequencyPhenotype.conceptOrPhenotypeErrorMsg">
	<strong>Error selecting concepts!</strong> {{editFrequencyPhenotype.conceptOrPhenotypeErrorMsg}}
</div>
<div class="alert alert-danger" role="alert" ng-if="editFrequencyPhenotype.getPhenotypeErrorMsg">
	<strong>Error loading phenotype!</strong> {{editFrequencyPhenotype.getPhenotypeErrorMsg}}
</div>
<div class="alert alert-danger" role="alert" ng-if="editFrequencyPhenotype.saveErrorMsg">
	<strong>Error saving phenotype!</strong> {{editFrequencyPhenotype.saveErrorMsg}}
</div>
<div class="alert alert-danger" role="alert" ng-if="editFrequencyPhenotype.timeUnitsErrorMsg">
	<strong>Error loading time unit options!</strong> {{editFrequencyPhenotype.timeUnitsErrorMsg}}
</div>
<div class="alert alert-danger" role="alert" ng-if="editFrequencyPhenotype.frequencyTypesErrorMsg">
	<strong>Error loading frequency type options!</strong> {{editFrequencyPhenotype.frequencyTypesErrorMsg}}
</div>
<form id="frequencyForm" name="frequencyForm" class="vert-offset" role="form" novalidate angular-validator angular-validator-submit="editFrequencyPhenotype.save()">
    <div class="form-group">
        <label for="defName" class="control-label">Name</label>
        <input type="text" id="defName" name="defName" class="form-control" ng-model="editFrequencyPhenotype.name" required required-message="'Name is required'" />
    </div>
    <div class="form-group">
        <label for="description" class="control-label">Description</label>
        <textarea id="description" name="description" class="form-control" ng-model="editFrequencyPhenotype.description"></textarea>
    </div>
	<div class="form-group">
		<label for="threshold">Threshold</label>
		<div class="input-group">
			<div class="input-group-addon">
				<select name="frequencyType" ng-model="editFrequencyPhenotype.frequencyType" ng-options="o.id as o.description for o in editFrequencyPhenotype.frequencyTypeOptions">
				</select>
			</div>
			<input name="threshold" type="number" class="form-control" ng-model="editFrequencyPhenotype.threshold" required required-message="'Threshold is required'">
			<div class="input-group-addon checkbox" ng-if="editFrequencyPhenotype.conceptOrPhenotype && editFrequencyPhenotype.conceptOrPhenotype.type === 'VALUE_THRESHOLD'">
				<label><input type="checkbox" name="freqIsConsecutive"
							  title="For value threshold phenotypes, specifies whether no intervening values are present that do not match the threshold or any duration or property constraints specified below"
							  ng-model="editFrequencyPhenotype.isConsecutive"> consecutive</label>
			</div>
		</div>
	</div>
	<phenotype-constraints id="definition" name="definition" 
						   concept-or-phenotype="editFrequencyPhenotype.conceptOrPhenotype" 
						   min-duration="editFrequencyPhenotype.minDuration" 
						   min-duration-units="editFrequencyPhenotype.minDurationUnits" 
						   max-duration="editFrequencyPhenotype.maxDuration"
						   max-duration-units="editFrequencyPhenotype.maxDurationUnits"
						   property-name="editFrequencyPhenotype.propertyName"
						   property-value="editFrequencyPhenotype.propertyValue"
						   on-concept-or-phenotype-error="editFrequencyPhenotype.displayConceptOrPhenotypeError(message)"
						   on-time-units-error="editFrequencyPhenotype.displayTimeUnitsError(message)"></phenotype-constraints>
	<div class="form-group">
		<label for="minDistanceBetween">Distance between</label>
		<div class="input-group">
			<input name="minDistanceBetween" type="number" class="form-control" placeholder="min" ng-model="editFrequencyPhenotype.minDistanceBetween">
			<div class="input-group-addon">
				<select name="minDistanceBetweenUnits" ng-model="editFrequencyPhenotype.minDistanceBetweenUnits" ng-options="o.id as o.description for o in editFrequencyPhenotype.minDistanceBetweenUnitOptions">
				</select>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="sr-only" for="maxDistanceBetween">To</label>
		<div class="input-group">
			<input name="maxDistanceBetween" type="number" class="form-control" placeholder="max" ng-model="editFrequencyPhenotype.maxDistanceBetween">
			<div class="input-group-addon">
				<select name="maxDistanceBetweenUnits" ng-model="editFrequencyPhenotype.maxDistanceBetweenUnits" ng-options="o.id as o.description for o in editFrequencyPhenotype.maxDistanceBetweenUnitOptions">
				</select>
			</div>
		</div>
	</div>
	<button id="cancelButton" name="cancelButton" type="button" class="btn" ng-click="editFrequencyPhenotype.cancel()">Cancel</button>
	<button id="saveButton" name="saveButton" type="submit" class="btn btn-primary">Save</button>
</form>
<script type="text/ng-template" id="conceptOrPhenotypeDeleteModal.html">
	<div class="modal-header">
		<h3 class="modal-title">Remove Concept or Phenotype</h3>
	</div>
	<div class="modal-body">
		<p><strong>Are you sure you want to remove "{{mo.displayName}}"?</strong></p>
		<p>This operation cannot be undone.</p>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn" ng-click="mo.cancel()">Cancel</button>
		<button type="button" class="btn btn-primary" ng-click="mo.ok()">Remove</button>
	</div>
</script>
<script type="text/ng-template" id="cancelEditModal.html">
	<div class="modal-header">
	<h3 class="modal-title">Unsaved Changes</h3>
	</div>
	<div class="modal-body">
	<p><strong>Are you sure you want to discard your changes to "{{mo.displayName}}"?</strong></p>
	<p>This operation cannot be undone.</p>
	</div>
	<div class="modal-footer">
	<button type="submit" class="btn" ng-click="mo.cancel()">Continue</button>
	<button type="button" class="btn btn-primary" ng-click="mo.ok()">Discard</button>
	</div>
</script>
<script type="text/ng-template" id="cancelCreateModal.html">
	<div class="modal-header">
	<h3 class="modal-title">Unsaved Changes</h3>
	</div>
	<div class="modal-body">
	<p><strong>Are you sure you want to discard your new phenotype?</strong></p>
	<p>This operation cannot be undone.</p>
	</div>
	<div class="modal-footer">
	<button type="submit" class="btn" ng-click="mo.cancel()">Continue</button>
	<button type="button" class="btn btn-primary" ng-click="mo.ok()">Discard</button>
	</div>
</script>