<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  Eureka WebApp
  %%
  Copyright (C) 2012 Emory University
  %%
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#L%
-->

<!-- This web.xml file is not required when using Servlet 3.0 container,
see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html#d4e194 -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<context-param>
		<param-name>eureka-services-url</param-name>
		<param-value>http://localhost:8080/eureka-services</param-value>
	</context-param>
	<context-param>
		<param-name>eureka-dev-site-url</param-name>
		<param-value>${eureka.dev.site.url}</param-value>
		<description>Is populated with the site URL from the maven pom.xml from which Eureka! was compiled. The developer documention URL on the Eureka! index page is constructed by appending '/dev' to this URL.</description>
	</context-param>
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>Messages</param-value>
		<description>Various string messages.</description>
	</context-param>

	<servlet>
		<servlet-name>CommonsFileUploadServlet</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.CommonsFileUploadServlet</servlet-class>
		<init-param>
			<param-name>dest_dir</param-name>
			<param-value>uploads</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.LoginServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.LogoutServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>RegisterUser</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.RegisterUserServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>JobList</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.JobListServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>JobPoll</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.JobPollServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>AdminManagerServlet</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.AdminManagerServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>UserAcctManagerServlet</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.UserAcctManagerServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>VerifyUserServlet</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.VerifyUserServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>SystemPropositionListServlet</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.proposition.SystemPropositionListServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>SavePropositionServlet</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.proposition.SavePropositionServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>DeletePropositionServlet</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.proposition.DeletePropositionServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>UserPropositionListServlet</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.proposition.UserPropositionListServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>EditorHomeServlet</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.proposition.EditorHomeServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ListSystemPropositionChildrenServlet</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.proposition.ListSystemPropositionChildrenServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ListUserDefinedPropositionChildrenServlet</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.proposition.ListUserDefinedPropositionChildrenServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>EditPropositionServlet</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.proposition.EditPropositionServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>SaveSequenceServlet</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.proposition.SaveSequenceServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>SaveCategorizationServlet</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.proposition.SaveCategorizationServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>VerifyUserServlet</servlet-name>
		<url-pattern>/verify</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommonsFileUploadServlet</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/protected/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterUser</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JobPoll</servlet-name>
		<url-pattern>/protected/jobpoll</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JobList</servlet-name>
		<url-pattern>/protected/jobs</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminManagerServlet</servlet-name>
		<url-pattern>/protected/admin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserAcctManagerServlet</servlet-name>
		<url-pattern>/protected/user_acct</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SystemPropositionListServlet</servlet-name>
		<url-pattern>/protected/systemlist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SavePropositionServlet</servlet-name>
		<url-pattern>/protected/saveprop</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeletePropositionServlet</servlet-name>
		<url-pattern>/protected/deleteprop</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserPropositionListServlet</servlet-name>
		<url-pattern>/protected/userproplist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListSystemPropositionChildrenServlet</servlet-name>
		<url-pattern>/protected/syspropchildren</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListUserDefinedPropositionChildrenServlet</servlet-name>
		<url-pattern>/protected/userpropchildren</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditorHomeServlet</servlet-name>
		<url-pattern>/protected/editorhome</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditPropositionServlet</servlet-name>
		<url-pattern>/protected/editprop</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveSequenceServlet</servlet-name>
		<url-pattern>/protected/savesequence</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveCategorizationServlet</servlet-name>
		<url-pattern>/protected/savecategorization</url-pattern>
	</servlet-mapping>

	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>Eureka</realm-name>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/login-error.jsp</form-error-page>
		</form-login-config>
	</login-config>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Eureka! Protected Area</web-resource-name>
			<url-pattern>/protected/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>ROLE_RESEARCHER</role-name>
			<role-name>ROLE_ADMIN</role-name>
		</auth-constraint>
	</security-constraint>

	<security-role>
		<role-name>ROLE_RESEARCHER</role-name>
	</security-role>
	<security-role>
		<role-name>ROLE_ADMIN</role-name>
	</security-role>

</web-app>
