<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  Eureka WebApp
  %%
  Copyright (C) 2012 - 2013 Emory University
  %%
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
       http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  #L%
-->

<!-- This web.xml file is not required when using Servlet 3.0 container,
see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html#d4e194 -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<context-param>
		<param-name>eureka-services-url</param-name>
		<param-value>https://localhost:8443/eureka-services</param-value>
	</context-param>
	<context-param>
		<description>Is populated with the site URL from the maven pom.xml from which Eureka! was compiled. The developer documention URL on the Eureka! index page is constructed by appending '/dev' to this URL.</description>
		<param-name>eureka-dev-site-url</param-name>
		<param-value>${eureka.dev.site.url}</param-value>
	</context-param>
	<context-param>
		<description>Various string messages.</description>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>Messages</param-value>
	</context-param>

	<!-- Populates links to the AIW website from Eureka. -->
	<context-param>
		<param-name>aiw-site-url</param-name>
		<param-value>${aiw.site.url}</param-value>
	</context-param>

	<!-- Version information. -->
	<context-param>
		<param-name>eureka-version-major</param-name>
		<param-value>${parsedVersion.majorVersion}</param-value>
	</context-param>
	<context-param>
		<param-name>eureka-version-minor</param-name>
		<param-value>${parsedVersion.minorVersion}</param-value>
	</context-param>
	<context-param>
		<param-name>eureka-version-incremental</param-name>
		<param-value>${parsedVersion.incrementalVersion}</param-value>
	</context-param>
	<context-param>
		<param-name>eureka-version-qualifier</param-name>
		<param-value>${parsedVersion.qualifier}</param-value>
	</context-param>
	<context-param>
		<param-name>eureka-version-buildNumber</param-name>
		<param-value>${parsedVersion.buildNumber}</param-value>
	</context-param>
	<context-param>
		<param-name>eureka-version</param-name>
		<param-value>${project.version}</param-value>
	</context-param>
	<context-param>
		<param-name>eureka-organization-name</param-name>
		<param-value>${project.organization.name}</param-value>
	</context-param>

	<!-- The hyperlink prefix to use for the help system. -->
	<context-param>
		<param-name>eureka-help-url</param-name>
		<param-value>${aiw.site.url}/help/v${parsedVersion.majorVersion}-${parsedVersion.minorVersion}</param-value>
	</context-param>
	
	<filter>
		<filter-name>PasswordExpiredFilter</filter-name>
		<filter-class>
			edu.emory.cci.aiw.cvrg.eureka.servlet.filter.PasswordExpiredFilter
		</filter-class>
		<init-param>
			<param-name>redirect-url</param-name>
			<param-value>/protected/password_expiration.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>save-url</param-name>
			<param-value>/protected/user_acct</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>MessagesFilter</filter-name>
		<filter-class>
			edu.emory.cci.aiw.cvrg.eureka.servlet.filter.MessagesFilter
		</filter-class>
	</filter>

<!-- UNCOMMENT THESE FILTERS AND THEIR MAPPINGS TO ENABLE AUTHENTICATION VIA CAS -->
	<filter>
		<filter-name>CAS Proxy Filter</filter-name>
		<filter-class>org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class>
		<init-param>
			<param-name>acceptAnyProxy</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>proxyCallbackUrl</param-name>
			<param-value>https://localhost:8443/eureka-webapp/proxyCallback</param-value>
		</init-param>
		<init-param>
			<param-name>proxyReceptorUrl</param-name>
			<param-value>/proxyCallback</param-value>
		</init-param>
		<init-param>
			<param-name>casServerUrlPrefix</param-name>
			<param-value>https://localhost:8443/cas-server</param-value>
		</init-param>
		<init-param>
			<param-name>serverName</param-name>
			<param-value>https://localhost:8443</param-value>
		</init-param>
		<init-param>
			<param-name>redirectAfterValidation</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>CAS Authentication Filter</filter-name>
		<filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
		<init-param>
			<param-name>casServerLoginUrl</param-name>
			<param-value>https://localhost:8443/cas-server/login</param-value>
		</init-param>
		<init-param>
			<param-name>serverName</param-name>
			<param-value>https://localhost:8443</param-value>
		</init-param>
		<init-param>
			<param-name>renew</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>gateway</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
		<filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
		<init-param>
			<param-name>roleAttribute</param-name>
			<param-value>authorities</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>CAS Assertion Thread Local Filter</filter-name>
		<filter-class>org.jasig.cas.client.util.AssertionThreadLocalFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>MessagesFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>CAS Proxy Filter</filter-name>
		<url-pattern>/proxyCallback</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS Proxy Filter</filter-name>
		<url-pattern>/protected/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS Authentication Filter</filter-name>
		<url-pattern>/protected/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS Assertion Thread Local Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>PasswordExpiredFilter</filter-name>
		<url-pattern>/protected/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>CommonsFileUploadServlet</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.CommonsFileUploadServlet</servlet-class>
		<init-param>
			<param-name>dest_dir</param-name>
			<param-value>uploads</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.LoginServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.LogoutServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>RegisterUser</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.RegisterUserServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>JobList</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.JobListServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>JobPoll</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.JobPollServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>AdminManagerServlet</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.AdminManagerServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>UserAcctManagerServlet</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.UserAcctManagerServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>VerifyUserServlet</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.VerifyUserServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>SystemPropositionListServlet</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.proposition.SystemPropositionListServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>SavePropositionServlet</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.proposition.SavePropositionServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>DeletePropositionServlet</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.proposition.DeletePropositionServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>UserPropositionListServlet</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.proposition.UserPropositionListServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>EditorHomeServlet</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.proposition.EditorHomeServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ListUserDefinedPropositionChildrenServlet</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.proposition.ListUserDefinedPropositionChildrenServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>EditPropositionServlet</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.proposition.EditPropositionServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ForgotPasswordServlet</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.ForgotPasswordServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>PingServlet</servlet-name>
		<servlet-class>edu.emory.cci.aiw.cvrg.eureka.servlet.PingServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>VerifyUserServlet</servlet-name>
		<url-pattern>/verify</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommonsFileUploadServlet</servlet-name>
		<url-pattern>/protected/upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/protected/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterUser</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JobPoll</servlet-name>
		<url-pattern>/protected/jobpoll</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JobList</servlet-name>
		<url-pattern>/protected/jobs</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminManagerServlet</servlet-name>
		<url-pattern>/protected/admin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserAcctManagerServlet</servlet-name>
		<url-pattern>/protected/user_acct</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SystemPropositionListServlet</servlet-name>
		<url-pattern>/protected/systemlist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SavePropositionServlet</servlet-name>
		<url-pattern>/protected/saveprop</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeletePropositionServlet</servlet-name>
		<url-pattern>/protected/deleteprop</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserPropositionListServlet</servlet-name>
		<url-pattern>/protected/userproplist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListUserDefinedPropositionChildrenServlet</servlet-name>
		<url-pattern>/protected/userpropchildren</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditorHomeServlet</servlet-name>
		<url-pattern>/protected/editorhome</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditPropositionServlet</servlet-name>
		<url-pattern>/protected/editprop</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgotPasswordServlet</servlet-name>
		<url-pattern>/forgot_password</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PingServlet</servlet-name>
		<url-pattern>/protected/ping</url-pattern>
	</servlet-mapping>

</web-app>
