<div class="tree-drop">
	<ul class="sortable">
		<li ng-if="vm.item">{{vm.item.displayName}}<a title="remove" ng-click="vm.remove(vm.item) "><span class="glyphicon glyphicon-remove" title="" style="color:red;"></span></a>
		<li ng-if="!vm.item && vm.key">{{vm.key}} <i class="fa fa-refresh fa-spin"></i>
	</ul>
	<a class="label-info text-center" href="" ng-click="vm.set()" ng-if="!vm.item && !vm.key" style="display: block">
		Set...
	</a>
</div>
<script type="text/ng-template" id="setItemModal.html">
	<div class="modal-header">
		<h3 class="modal-title">Set Concept or Phenotype</h3>
	</div>
	<div class="modal-body">
		<tree-component selected-items="mo.itemsToAdd"></tree-component>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn" ng-click="mo.cancel()">Cancel</button>
		<button class="btn btn-primary" ng-click="mo.ok()">Set and close</button>
	</div>
</script>
