<h1 ng-if="editCohort.nowEditing === undefined">New Cohort</h1>
<h1 ng-if="editCohort.nowEditing !== undefined">Edit Cohort</h1>
<p class="lead">Select the data and phenotypes that will define the patient cohort.</p>
<div class="alert alert-danger" role="alert" ng-if="editCohort.errorMsg">
	<strong>Error saving cohort!</strong> {{editCohort.errorMsg}}
</div>
<div id="definitionContainer">
	<form novalidate angular-validator angular-validator-submit="editCohort.submitCohortForm()" name="patCohortForm" id="patCohortForm" class="vert-offset" role="form">
		<div class="form-group">
			<label for="patCohortDefName" class="control-label">Name</label>
			<input type="text" id="patCohortDefName" name="patCohortDefName" class="form-control" ng-model="editCohort.name" required-message="'Name is required'" required />
		</div>
		<div class="form-group">
			<label for="patCohortDescription" class="control-label">Description</label>
			<textarea id="patCohortDescription" class="form-control" ng-model="editCohort.description"></textarea>
		</div>
		<div class="form-group">
			<label for="patCohortDefinition" class="control-label">Criteria</label>
			<tree-multi-drop-zone items="editCohort.treeMultiDropZoneItems" keys="editCohort.treeMultiDropZoneInitialKeys" display-error="editCohort.displayError" delete-modal-template-url="treeMultiDropZoneDeleteModal.html"></tree-multi-drop-zone>
		</div>
		<button id="patCohortEditCancelButton" type="button" class="btn" ng-click="editCohort.cancelCohortForm()">Cancel</button>
		<button id="patCohortEditSaveButton" type="submit" class="btn btn-primary">Save</button>
	</form>
</div>
<script type="text/ng-template" id="treeMultiDropZoneDeleteModal.html">
	<div class="modal-header">
		<h3 class="modal-title">Remove Criterion</h3>
	</div>
	<div class="modal-body">
		<p><strong>Are you sure you want to remove "{{mo.displayName}}"?</strong></p>
	<p>This operation cannot be undone.</p>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn" ng-click="mo.cancel()">Cancel</button>
		<button type="button" class="btn btn-primary" ng-click="mo.ok()">Remove</button>
	</div>
</script>
<script type="text/ng-template" id="cancelEditCohortModal.html">
	<div class="modal-header">
		<h3 class="modal-title">Unsaved Changes</h3>
	</div>
	<div class="modal-body">
		<p><strong>Are you sure you want to discard your changes to "{{mo.cohortName}}"?</strong></p>
		<p>This operation cannot be undone.</p>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn" ng-click="mo.cancel()">Continue</button>
		<button type="button" class="btn btn-primary" ng-click="mo.ok()">Discard</button>
	</div>
</script>
<script type="text/ng-template" id="cancelCreateCohortModal.html">
	<div class="modal-header">
		<h3 class="modal-title">Unsaved Changes</h3>
	</div>
	<div class="modal-body">
		<p><strong>Are you sure you want to discard your new cohort?</strong></p>
		<p>This operation cannot be undone.</p>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn" ng-click="mo.cancel()">Continue</button>
		<button type="button" class="btn btn-primary" ng-click="mo.ok()">Discard</button>
	</div>
</script>
