<h3>Edit Cohort</h3>

<div class="row">
    <div class="col-md-12">
        <div id="definitionContainer" class="col-md-8">
            <form id="categorizationForm" class="vert-offset" role="form">
                <div class="form-group">
                    <label for="patCohortDefName" class="control-label">Name</label>
                    <input type="text" id="patCohortDefName" class="form-control" ng-model="editCohort.destination.name" />
                </div>
                <div class="form-group">
                    <label for="patCohortDescription" class="control-label">Description</label>
                    <textarea id="patCohortDescription" class="form-control" ng-model="editCohort.destination.description"></textarea>
                </div>
                <div class="form-group">
                    <label for="patCohortDefinition" class="control-label">Members</label>
                    <div class="row">
                        <div class="col-md-12">
                            <tree-component current-memeber-list="editCohort.memberList"></tree-component>
                        </div>
                    </div>

                </div>

                <div class="form-group text-center vert-offset">
                    <button id="savePhenotypeButton" type="button" class="btn btn-primary" ng-click="editCohort.updateCohort()">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
