<h1>Phenotypes</h1>
<p class="lead">Specify the phenotypes that you want to compute in your datasets.
<p>Phenotypes are patient features inferred from sequence, frequency and other 
	temporal patterns in the events and observations in your dataset. These features are computed as
	intervals with a start time and a stop time representing when they are present.

<div class="btn-group" uib-dropdown keyboard-nav>
	<button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" uib-dropdown-toggle>
		<span class="glyphicon glyphicon-plus-sign"></span>
		<span>Create New Element</span> 
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
		<li role="menuitem"><a ng-click="phenotypes.navigateTo('categorization')">{{phenotypes.messages.CATEGORIZATION.displayName}} <p>{{phenotypes.messages.CATEGORIZATION.description}}</p></a></li>
		<li role="menuitem"><a ng-click="phenotypes.navigateTo('sequence')">{{phenotypes.messages.SEQUENCE.displayName}} <p>{{phenotypes.messages.SEQUENCE.description}}</p></a></li>
		<li role="menuitem"><a ng-click="phenotypes.navigateTo('frequency')">{{phenotypes.messages.FREQUENCY.displayName}} <p>{{phenotypes.messages.FREQUENCY.description}}</p></a></li>
		<li role="menuitem"><a ng-click="phenotypes.navigateTo('threshold')">{{phenotypes.messages.THRESHOLD.displayName}} <p>{{phenotypes.messages.THRESHOLD.description}}</p></a></li>
	</ul>
</div>
<!-- ng-table -->
<table ng-table="phenotypes.tableParams" class="table" show-filter="true">
	<tr ng-repeat="user in $data">
		<td>
			<a title="Edit" ui-sref="editPhenotype({ id: user.key })">
				<span class="glyphicon glyphicon-pencil edit-icon" title="Edit"></span>
			</a>
			<span class="glyphicon glyphicon-remove delete-icon" ng-click="phenotypes.deletePhenotype(user, $index)" title="Delete"></span>
		</td>
		<td title="'Name'" filter="{ displayName: 'text'}" sortable="'displayName'">
			{{user.displayName}}
		</td>
		<td title="'Description'" filter="{ description: 'text'}" sortable="'description'">
			{{user.description}}
		</td>
		<td title="'Type'" filter="{ type: 'text'}" sortable="'type'">
			{{user.type}}
		</td>
		<td title="'Created'" filter="{ created: 'text'}" sortable="'created'">
			{{user.created | date:'MM/dd/yyyy'}}
		</td>
		<td title="'lastModified'" filter="{ lastModified: 'text'}" sortable="'lastModified'">
			{{user.lastModified | date:'MM/dd/yyyy'}}
		</td>
	</tr>
</table>

<script type="text/ng-template" id="myModal.html">
    <div class="modal-header">
	<h3 class="modal-title">Delete Element</h3>
    </div>
    <div class="modal-body">
	Are you sure you would like to remove this item?
    </div>
    <div class="modal-footer">
	<button class="btn btn-primary" ng-click="mo.ok()">Delete</button>
	<button class="btn btn-primary" ng-click="mo.cancel()">Close</button>
    </div>
</script>

<script type="text/ng-template" id="errorModal.html">
    <div class="modal-header">
	<h3 class="modal-title">Error</h3>
    </div>
    <div class="modal-body">
	{{mod.data}}
    </div>
    <div class="modal-footer">
	<button class="btn btn-primary" ng-click="mod.cancel()">Close</button>
    </div>
</script>