<?xml version="1.0"?>
<document xmlns="http://maven.apache.org/XDOC/2.0" 
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
    <properties>
        <title>Building</title>
        <author email="help@eurekaclinical.org">
            The Eureka! Clinical Analytics Team
        </author>
    </properties>

    <body>
        <section name="Building ${project.name} from Source">
			<p>This is a module of the Eureka! Clinical Analytics project.
				Follow the instructions on the parent project's
				<a href="../building.html">Building</a> page.
			</p>
        </section>
    </body>
</document>