<!--<h3>Cohort Editor</h3>-->
<!--<p>-->
    <!--Select the system and user-defined elements from the ontology that will define the patient cohort.-->
<!--</p>-->
<div layout="column" layout-gt-md="row" >
    <!--<div class="col-xs-4">-->

        <!--<ul class="nav nav-tabs">-->
            <!--<li ng-class="{active: newCohort.activeTab == 1}">-->
                <!--&lt;!&ndash;<a href = "#systemElems" data-toggle="tab">System</a>&ndash;&gt;-->
                <!--<a href ng-click="newCohort.activeTab = 1" >System</a>-->
            <!--</li>-->
            <!--<li ng-class="{active: newCohort.activeTab == 2}">-->
                <!--<a href ng-click="newCohort.activeTab = 2" >User</a>-->
            <!--</li>-->
        <!--</ul>-->
        <!--<div id="treeContent" ng-init="newCohort.activeTab = 1" class="tab-content proposition-tree">-->
            <!--&lt;!&ndash;<div id="systemElems" class="tab-pane fade active in" ng-show="tab.isSet(1)">&ndash;&gt;-->
            <!--<div id="systemElems" ng-show="newCohort.activeTab == 1">-->
                <!--<jstree-->
                        <!--tree-url="/eureka-webapp/protected/systemlist"-->
                        <!--tree-search="/eureka-webapp/protected/jstree3_searchsystemlist"-->
                        <!--search-update-div="#searchUpdateDiv"-->
                        <!--search-validation-modal="#searchValidationModal"-->
                        <!--search-no-results-modal="#searchNoResultsModal"-->
                        <!--tree-css-url="assets/css/jstree-themes/default/style.css"-->
                        <!--/>-->
                <!--<div id="searchUpdateDiv" class="searchUpdateMessage"></div>-->
            <!--</div>-->
            <!--&lt;!&ndash;<div id="userElems" class="tab-pane fade" ng-show="tab.isSet(2)">&ndash;&gt;-->
            <!--<div id="userElems" ng-show="newCohort.activeTab == 2">-->
                <!--<div id="userTree"></div>-->
            <!--</div>-->
        <!--</div>-->


    <!--</div>-->
    <!--<div id="definitionContainer" class="col-xs-8">-->
        <!--<form id="categorizationForm" class="vert-offset" role="form">-->
            <!--<div class="form-group">-->
                <!--<label for="patCohortDefName" class="control-label">Name</label>-->
                <!--<input type="text" id="patCohortDefName" ng-model="newCohort.cohortDestination.name"-->
                       <!--class="form-control"/>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="patCohortDescription" class="control-label">Description</label>-->
                <!--<textarea id="patCohortDescription" class="form-control" ng-model="newCohort.cohortDestination.description"></textarea>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="patCohortDefinition" class="control-label">Members</label>-->
                <!--<div id="patCohortDefinition"-->
                     <!--class="jstree-drop tree-drop tree-drop-multiple"-->
                     <!--title="Drop the system and/or user-defined data element members that define your patient cohort in here">-->
                    <!--<ul class="sortable" data-drop-type="multiple" data-proptype="empty">-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group text-center vert-offset">-->
                <!--<button id="savePropositionButton" type="button" class="btn btn-primary">Save</button>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
    <!-- begin angular-ui-tree -->

    <md-content flex flex-order="2" flex-order-gt-md="1" layout-padding>
        <md-card>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="System">
                    <md-content class="md-padding">
                        <md-input-container md-no-float>
                            <input flex ng-model="newCohort.treeSearch" placeholder="Search">
                        </md-input-container>
                        <md-progress-circular class="md-hue-1" md-mode="indeterminate" ng-if="newCohort.loading"></md-progress-circular>
                        <div ui-tree data-drag-enabled="true" data-drag-delay="200" data-clone-enabled="true">
                            <ol ui-tree-nodes="" data-nodrop-enabled="true" ng-model="newCohort.treeData" id="tree-root">
                                <li ng-repeat="node in newCohort.treeData" ui-tree-node ng-include="'nodes_renderer.html'" collapsed="true"></li>
                            </ol>
                        </div>
                        <!-- Nested node template -->
                        <script type="text/ng-template" id="nodes_renderer.html">
                            <div class="md-subhead" ng-class="{'node-disabled': !newCohort.nodeAllowed(node)}" style="padding-bottom: 3px;" ui-tree-handle ng-click="toggle(this); newCohort.toggleNode(node)">
                                <i class="fa" ng-if="node.children" style="cursor: pointer; margin-right: 5px;" ng-class="{
                                'fa-plus-square': collapsed,
                                'fa-minus-square': !collapsed
                            }"></i>
                                <i class="fa fa-file-o" style="margin-right: 5px;" ng-if="!node.children"></i>
                                {{node.text}}
                            </div>
                            <md-progress-linear class="md-hue-1" style="margin:5px 0;" md-mode="indeterminate" ng-if="node.loading"></md-progress-linear>
                            <ol ui-tree-nodes="" data-nodrop-enabled="true" ng-class="{ 'hidden': collapsed }" ng-model="node.nodes">
                                <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'" collapsed="true">
                                </li>
                            </ol>
                        </script>
                    </md-content>
                </md-tab>
                <md-tab label="User">
                    <md-content class="md-padding">
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-card>
    </md-content>
    <!--end angular-ui-tree  -->

    <md-content flex="60" flex-gt-lg="66" flex-order="1" flex-order-gt-md="2" layout-padding>
        <md-card>
            <md-card-content>
                <h2 class="md-headline" style="margin-top: 0">New Cohort</h2>
                <p>
                    Select the system and user-defined elements from the ontology that will define the patient cohort.
                </p>
                <form name="userForm">
                    <md-input-container flex>
                        <label>Name</label>
                        <input ng-model="newCohort.cohort.name">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Description</label>
                        <textarea ng-model="newCohort.cohort.description" columns="1" md-maxlength="250"></textarea>
                    </md-input-container>
                    <!-- angular-ui-tree drop zone -->
                    <md-whiteframe flex class="md-whiteframe-z2" layout="column" layout-align="start start" style="margin-top: 30px;">
                        <div layout-fill ui-tree="newCohort.treeOptions" data-empty-placeholder-enabled="false">
                            <ol ui-tree-nodes="" ng-model="newCohort.memberList" class="member-tree-list">
                                <li ui-tree-node data-nodrag layout-fill class="text-center" style="padding: 30px 20px;"
                                    ng-if="!newCohort.memberList.length">
                                    <h3 class="md-title">Drag Members Here</h3>
                                </li>
                                <li class="md-subhead" ng-repeat="item in newCohort.memberList" ui-tree-node data-nodrag layout-fill>
                                    <i class="fa fa-times" ng-click="remove(this)"></i> {{item.text}}
                                </li>
                            </ol>
                        </div>
                    </md-whiteframe>
                    <!-- end of angular-ui-tree drop zone -->
                </form>
            </md-card-content>
            <div class="md-actions md-padding" layout="row" layout-align="start center">
                <md-button class="md-raised md-primary md-hue-1"> Save </md-button>
            </div>
        </md-card>
    </md-content>

</div>
<!--<div id="deleteModal" class="modal fade" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog modal-lg">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <!--<h4 id="deleteModalLabel" class="modal-title">Delete Element</h4>-->
            <!--</div>-->
            <!--<div id="deleteContent" class="modal-body">-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button id="deleteButton" type="button" class="btn btn-primary">Delete</button>-->
                <!--<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div id="replaceModal" class="modal fade" role="dialog" aria-labelledby="replaceModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog modal-lg">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <!--<h4 id="replaceModalLabel" class="modal-title">Replace Element</h4>-->
            <!--</div>-->
            <!--<div id="replaceContent" class="modal-body">-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button id="replaceButton" type="button" class="btn btn-primary">Replace</button>-->
                <!--<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div id="errorModal" class="modal fade" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog modal-lg">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <!--<h4 id="errorModalLabel" class="modal-title">Error</h4>-->
            <!--</div>-->
            <!--<div id="errorContent" class="modal-body">-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div id="searchModal" class="modal fade" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog modal-lg">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <!--<h4 id="searchModalLabel" class="modal-title">-->
                    <!--Broad Search Update-->
                <!--</h4>-->
            <!--</div>-->
            <!--<div id="searchContent" class="modal-body">-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div id="searchValidationModal" class="modal fade" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog modal-lg">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <!--<h4 id="searchModalLabel" class="modal-title">-->
                    <!--Search String Validation Failed-->
                <!--</h4>-->
            <!--</div>-->
            <!--<div id="searchContent" class="modal-body">-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div id="searchNoResultsModal" class="modal fade" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog modal-lg">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <!--<h4 id="searchModalLabel" class="modal-title">-->
                    <!--No Search Results-->
                <!--</h4>-->
            <!--</div>-->
            <!--<div id="searchContent" class="modal-body">-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<script language="JavaScript">-->
    <!--eureka.editor.setup(null,'#userTree', '#definitionContainer', '#savePropositionButton');-->
<!--</script>-->

