<?xml version="1.0"?>
<document xmlns="http://maven.apache.org/XDOC/2.0" 
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
    <properties>
        <title>Building</title>
        <author email="aiwhelp@emory.edu">
            The Eureka! Clinical Analytics Team
        </author>
    </properties>

    <body>
        <section name="Building ${project.name} from Source">
            <p>${project.name} uses <a href="http://maven.apache.org">Maven</a>
            as its build and management tool.</p>
            
            <subsection name="Prerequisites">
                <p>Required:</p>
                <ul>
					<li>Download and install <a href="http://www.oracle.com/technetwork/java/index.html">Java 1.6</a>, if you don't already have it.</li>
                    <li>Download and install <a href="http://maven.apache.org">Maven</a> (Version 3 is required), if you don't already have it.</li>
                    <li>Get the <a href="index.html">latest ${project.name} source</a>.</li>
					<li>For deployment, download and install <a href="http://tomcat.apache.org">Apache Tomcat</a> version 7.</li>
                </ul>
            </subsection>
			<subsection name="Maven options">
				<p>To build ${project.name}, Maven has to be configured to use 
					more memory:
				</p>
				<source>set MAVEN_OPTS="-Xmx512m -XX:MaxPermSize=128m"</source>
			</subsection>
            <subsection name="A normal build (runs tests)">
                <source>mvn clean install</source>
				<p>If successful, you will find the following warfiles:</p>
				<ul>
					<li>
						<code>eureka-webapp/target/eureka-webapp.war</code>
					</li>
					<li>
						<code>eureka-services/target/eureka-services.war</code>
					</li>
					<li>
						<code>eureka-protempa-etl/target/eureka-protempa-etl.war</code>
					</li>
				</ul>
				<p>Next, you can deploy the warfiles into your servlet 
					container. Before deploying Eureka! for the first time, be 
					sure to follow the 
					<a href="../../install.html">installation instructions</a> 
					on the main Eureka! website.
				</p>
				<p>Eureka! is known to deploy on 
					<a href="http://tomcat.apache.org">Apache Tomcat</a> 
					version 7. You may either copy these warfiles into your 
					Tomcat deployment's <code>$CATALINA_HOME/webapps</code> 
					directory, or if you have the 
					<a href="http://tomcat.apache.org/tomcat-7.0-doc/manager-howto.html">Tomcat manager app</a> 
					deployed execute one of the following commands below.
				</p>
            </subsection>
			<subsection name="Deployment from source">
				<p>Execute a build as above, and then execute one of the 
					following deployment commands. Each executes in a specified
					Maven profile (local, dev and prd). For each profile, you 
					can specify a server in your 
					<code>$HOME/.m2/settings.xml</code> file (see 
					<a href="http://maven.apache.org/settings.html">Settings Reference</a>
					for more information). For example:
				</p>
				<source>&lt;profile&gt;
	&lt;id&gt;eureka-tomcat-local&lt;/id&gt;
	&lt;properties&gt;
		&lt;local.url&gt;http://tomcathostname:tomcatport/manager/text&lt;/local.url&gt;
	&lt;/properties&gt;
&lt;/profile&gt;</source>
				<p>Replace the URL in the <code>local.url</code> with your own.
				</p>
				<h4>Deploy to Tomcat (local installation)</h4>
				<source>mvn tomcat:deploy -Peureka-tomcat-local</source>

				<h4>Deploy to Tomcat (dev installation)</h4>
				<source>mvn tomcat:deploy -Peureka-tomcat-dev</source>

				<h4>Deploy to Tomcat (production installation)</h4>
				<source>mvn tomcat:deploy -Peureka-tomcat-prd</source>
				
				<h4>Redeploy to Tomcat</h4>
				<source>mvn tomcat:redeploy -Peureka-tomcat-{local|dev|prd}</source>
				
				<h4>Undeploy from Tomcat</h4>
				<source>mvn tomcat:undeploy -Peureka-tomcat-{local|dev|prd}</source>
			</subsection>
			<subsection name="Run Eureka! in embedded tomcat server">
				<p>This is for testing purposes during software development
					only. After building Eureka!, run:
				</p>
				<source>mvn tomcat:run</source>
			</subsection>
        </section>
    </body>
</document>