   <md-content layout-padding>
        <md-card>
            <md-toolbar class="md-hue-1">
                <div class="md-toolbar-tools">
                    <h3>
                        <span>Password Expiration</span>
                    </h3>
                </div>
            </md-toolbar>
            <md-card-content>
                <form name="passwordForm">
                  <div layout="row">
                    <md-input-container flex="50">
                        <label>Current Password</label>
                           <input name="oldExpPassword"
                           ng-model="passwordObj.oldExpPassword"
                           type="password"
                           ng-pattern="/(^.*(?=.*\d)(?=.*[a-z]).*$)/"
                           ng-minlength="8"
                           ng-required="true">
                    </md-input-container>
                  </div>
                  <div layout="row">
                    <md-input-container flex="50">
                        <label>New Password</label>
                           <input name="newExpPassword"
                           ng-model="passwordObj.newExpPassword"
                           type="password"
                           ng-pattern="/(^.*(?=.*\d)(?=.*[a-z]).*$)/"
                           ng-minlength="8"
                           ng-required="true">
                    </md-input-container>
                  </div>
                  <div layout="row">
                    <md-input-container flex="50">
                        <label>Confirm Password (required)</label>
                           <input name="verifyExpPassword"
                           ng-model="passwordObj.verifyExpPassword"
                           type="password"
                           ng-pattern="/(^.*(?=.*\d)(?=.*[a-z]).*$)/"
                           ng-minlength="8"
                           compare-to="passwordObj.newExpPassword"
                           ng-required="true">
                          <div ng-if="passwordForm.verifyExpPassword.$dirty" ng-messages="passwordForm.verifyExpPassword.$error">
                          <div ng-message="required">You must verify your password!</div>
                          <div ng-message="compareTo">Passwords must match!</div>
                    </div>
                    </md-input-container>
                  </div>
                </form>
            </md-card-content>
               <div class="md-actions md-padding" layout="row" layout-align="start center">
                <md-button class="md-raised md-primary md-hue-1" ng-click="expiredPassword.updatePassword()"> Save Password </md-button>
            </div>
        </md-card>
    </md-content>