
Eureka {
        edu.emory.cci.aiw.cvrg.jaas.DataSourceLoginModule required
        dsName="java:comp/env/jdbc/EurekaService"
        authSql="select password from users where email=? and active=1"
        rolesSql="select a.name as role from roles a, user_role b, users c where a.id=b.role_id and b.user_id=c.id and c.email=?";
};


