<?xml version="1.0"?>
<document xmlns="http://maven.apache.org/XDOC/2.0" 
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
    <properties>
        <title>Homepage</title>
        <author email="help@eurekaclinical.org">
            The Eureka! Clinical Analytics Team
        </author>
    </properties>

    <body>
        <h2>What is ${project.name}?</h2>
        
        <p>${project.description}</p>

		<p>${project.name} is a module of the Eureka! Clinical Analytics 
			project. It is developed and maintained by the
            <a href="http://www.bmi.emory.edu">Emory Department of Biomedical Informatics</a>.
        </p>
                
        <h2>Binaries</h2>
		<p>Please go to the Eureka! Clinical Analytics' 
			<a href="../index.html">Developer Resources Homepage</a> for 
			instructions on getting binaries for the entire project.
		</p>

        <h2>Source Code</h2>
		<p>Please go to the Eureka! Clinical Analytics' 
			<a href="../index.html">Developer Resources Homepage</a> for 
			instructions on getting source code for the entire project.
		</p>
    </body>
</document>