<md-card>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="System">
            <md-content class="md-padding">
                <md-input-container md-no-float>
                    <input flex ng-model="tree.treeSearch" placeholder="Search" ng-model-options='{ debounce: 1000 }' ng-change="tree.filterCohortList()">
                </md-input-container>
                <md-progress-circular class="md-hue-1" md-mode="indeterminate" ng-if="tree.loading"></md-progress-circular>
                <div ui-tree data-empty-placeholder-enabled="false" data-drag-enabled="true" data-drag-delay="200" data-clone-enabled="true">
                    <ol ui-tree-nodes="" data-nodrop-enabled="true" ng-model="tree.treeData" id="tree-root">
                        <li ng-repeat="node in tree.treeData" ui-tree-node ng-include="'nodes_renderer.html'" collapsed="true"></li>
                    </ol>
                </div>
                <!-- Nested node template -->
                <script type="text/ng-template" id="nodes_renderer.html">
                    <div class="md-subhead" ng-class="{'node-disabled': !tree.nodeAllowed(node)}" style="padding-bottom: 3px;" ui-tree-handle ng-click="toggle(this); tree.toggleNode(node)">
                        <i class="fa" ng-if="node.children" style="cursor: pointer; margin-right: 5px;" ng-class="{
                                'fa-plus-square': collapsed,
                                'fa-minus-square': !collapsed
                            }"></i>
                        <i class="fa fa-file-o" style="margin-right: 5px;" ng-if="!node.children"></i>
                        {{node.displayName}}
                    </div>
                    <md-progress-linear class="md-hue-1" style="margin:5px 0;" md-mode="indeterminate" ng-if="node.loading"></md-progress-linear>
                    <ol ui-tree-nodes="" data-nodrop-enabled="true" ng-class="{ 'hidden': collapsed }" ng-model="node.nodes">
                        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'" collapsed="true">
                        </li>
                    </ol>
                </script>
            </md-content>
        </md-tab>
        <md-tab label="User">
            <md-content class="md-padding">
            </md-content>
        </md-tab>
    </md-tabs>
</md-card>
