<h1>Submit Job</h1>
<div class="alert alert-danger" role="alert" ng-if="jobs.loadErrorMsg">
	<strong>Error loading page data!</strong> {{jobs.loadErrorMsg}}
</div>
<div class="alert alert-danger" role="alert" ng-if="jobs.jobStatusErrorMsg">
	<strong>Error getting job status!</strong> {{jobs.jobStatusErrorMsg}}
</div>
<div class="alert alert-danger" role="alert" ng-if="jobs.jobSubmitErrorMsg">
	<strong>Error submitting job!</strong> {{jobs.jobSubmitErrorMsg}}
</div>
<div class="alert alert-danger" role="alert" ng-if="jobs.treeMultiDropZoneItemsErrorMsg">
	<strong>Error selecting concepts!</strong> {{jobs.treeMultiDropZoneItemsErrorMsg}}
</div>
<div class="alert alert-danger" role="alert" ng-if="jobs.dateRangeDropZoneItemsErrorMsg">
	<strong>Error selecting a date range concept!</strong> {{jobs.dateRangeDropZoneItemErrorMsg}}
</div>
<form id="uploadForm" name="uploadForm" novalidate angular-validator angular-validator-submit="jobs.submitJob()" role="form" method="POST" action="upload" enctype="multipart/form-data">
	<fieldset>
		<legend>Job Information</legend>
		<table id="jobInformation" class="table table-responsive">
			<thead>
				<tr>
					<td>Source</td>
					<td>Destination</td>
					<td>Job Status</td>
					<td>Started</td>
					<td>Finished</td>
					<td>Links</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td id="sourceConfig"> 
						{{jobs.jobInfoSourceConfig}}
					</td>
					<td id="destinationConfig">
						{{jobs.jobInfoDestination}}
					</td>
					<td id="jobStatus">
						{{jobs.jobInfoStatus != null && !jobs.jobStatusErrorMsg ? jobs.jobInfoStatus : 'No jobs have been submitted'}}
					</td>
					<td id="startedDate">
						{{jobs.jobInfoStatus != null ? (jobs.jobInfoStartTimestamp | date: 'medium') : ''}} 
					</td>
					<td id="finishedDate">
						{{jobs.jobInfoStatus != null ? (jobs.jobInfoFinishTimestamp | date: 'medium') : ''}}
					</td>
					<td>
						<div id="links" ng-repeat="link in jobs.jobLinks">
							<a href="{{link.url}}">{{link.displayName}}</a></br>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</fieldset>
	<fieldset id ="data">
		<legend>Data</legend>
		<div class="form-group">
			<select class="form-control" ng-model="jobs.jobSourceConfig" ng-options="sc.displayName for sc in jobs.sourceConfigs " required required-message="'Data is required'">
			</select>
		</div>  
		<source-config-prompts source-config="jobs.jobSourceConfig" prompts="jobs.sourceConfigPrompts" file-upload-success="jobs.fileUploadSuccess(file)" file-upload-error="jobs.fileUploadError(file, message)"></source-config-prompts>
	</fieldset>
	<fieldset id ="actions">
		<legend>Action</legend>
		<div class="form-group">
			<select class="form-control" ng-model="jobs.jobDestination" ng-options="d.name for d in jobs.destinations" required required-message="'Action is required'">
			</select>                                
		</div>  

		<div class="form-group">
			<label class="radio-inline">
				<input type="radio" name="updateData" ng-model="jobs.radioData" value="1" required required-message="'Must select Replace or Update'">Replace Data
			</label>
			<label class="radio-inline">
				<input type="radio" name="updateData" ng-model="jobs.radioData" value="2">Update Data
			</label> 
		</div>
	</fieldset>
	<fieldset id ="concepts">
		<legend>Concepts</legend>
		<div class="form-group">
			<tree-multi-drop-zone items="jobs.treeMultiDropZoneItems" display-error="jobs.displayTreeMultiDropZoneItemsError" delete-modal-template-url="dropZoneDeleteModal.html"></tree-multi-drop-zone>
		</div>                                
	</fieldset>
	<fieldset id ="dateRange">
		<legend>Date range</legend>
		<div class="form-group">
			<label class="control-label" for="dateRangePhenotypeKey">Concept</label>
			<tree-single-drop-zone item="jobs.dateRangeDropZoneItem" display-error="jobs.displayDateRangeDropZoneItemError" delete-modal-template-url="dropZoneDeleteModal.html"></tree-single-drop-zone>
		</div>
		<div class="form-group">
			<label for="earliestDateSelector" class="control-label">Earliest date</label>
			<div class="input-group">
				<span class="input-group-addon">
					<select name="dateRangeEarliestDateSide" ng-model="jobs.earliestDateSide">
						<option value="START">start</option>
						<option value="FINISH">finish</option>
					</select>
				</span>
				<input type="text" name="earliestDateSelector" class="form-control" uib-datepicker-popup is-open="jobs.earliestDatePopup.opened" ng-model="jobs.earliestDate" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="jobs.openEarliestDatePopup()"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label for="latestDateSelector" class="control-label">Latest date</label>
			<div class="input-group">
				<span class="input-group-addon">
					<select name="dateRangeLatestDateSide" ng-model="jobs.latestDateSide">
						<option value="START">start</option>
						<option value="FINISH">finish</option>
					</select>
				</span>
				<input type="text" name="latestDateSelector" class="form-control" uib-datepicker-popup is-open="jobs.latestDatePopup.opened" ng-model="jobs.latestDate" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="jobs.openLatestDatePopup()"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</div>
		</div>
	</fieldset>
	<input type="submit" id="startButton" class="btn btn-primary" value="Start">
</form>
<script type="text/ng-template" id="dropZoneDeleteModal.html">
	<div class="modal-header">
		<h3 class="modal-title">Remove Concept</h3>
	</div>
	<div class="modal-body">
		<p><strong>Are you sure you want to remove "{{mo.displayName}}"?</strong></p>
		<p>This operation cannot be undone.</p>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn" ng-click="mo.cancel()">Cancel</button>
		<button type="button" class="btn btn-primary" ng-click="mo.ok()">Remove</button>
	</div>
</script>