<h1>Cohorts</h1>
<p class="lead">Define cohorts within your datasets.</p>
<div class="alert alert-danger" role="alert" ng-if="cohorts.deleteErrorMsg">
	<strong>Error deleting cohort!</strong> {{cohorts.deleteErrorMsg}}
</div>
<div class="alert alert-danger" role="alert" ng-if="cohorts.loadErrorMsg">
	<strong>Error loading cohorts!</strong> {{cohorts.loadErrorMsg}}
</div>
<div>
	<a ui-sref="newCohort" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span>
		Define New Cohort
	</a>
</div>
<!-- ng-table -->
<table ng-table="cohorts.tableParams" class="table" show-filter="true">
	<tr ng-repeat="cohort in $data">
		<td style="width: 4em;">
			<a ui-sref="editCohort({key: cohort.name})" title="Edit">
				<span class="glyphicon glyphicon-pencil edit-icon" title="Edit"></span>
			</a>
			<span class="glyphicon glyphicon-remove delete-icon" title="Delete" ng-click="cohorts.deleteCohort(cohort.name)"></span>
		</td>
		<td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
			{{cohort.name}}
		</td>
		<td title="'Description'" filter="{ description: 'text'}" sortable="'description'">
			{{cohort.description}}
		</td>
		<td title="'Created'" filter="{ created_at: 'text'}" sortable="'created_at'">
			{{cohort.created_at | date:'medium'}}
		</td>
		<td title="'Last modified'" filter="{ updated_at: 'text'}" sortable="'updated_at'">
			{{cohort.updated_at | date:'medium'}}
		</td>
	</tr>
</table>
<script type="text/ng-template" id="deleteModal.html">
	<div class="modal-header">
	<h3 class="modal-title">Delete Cohort</h3>
	</div>
	<div class="modal-body">
	<p><strong>Are you sure you want to delete "{{mo.cohortName}}"?</strong></p>
	<p>This operation cannot be undone.</p>
	</div>
	<div class="modal-footer">
	<button type="submit" class="btn btn-default" ng-click="mo.cancel()">Cancel</button>
	<button type="button" class="btn btn-primary" ng-click="mo.ok()">Delete</button>
	</div>
</script>
